@font-face {
  font-family: "Muli ExtraLight";
  src: url("../assets/fonts/muli-extralight.ttf") format("truetype");
  font-display: auto;
}
@font-face {
  font-family: "Muli Light";
  src: url("../assets/fonts/muli-light.ttf") format("truetype");
  font-display: auto;
}
@font-face {
  font-family: "Muli";
  src: url("../assets/fonts/muli.ttf") format("truetype");
  font-display: auto;
}
@font-face {
  font-family: "Muli Semibold";
  src: url("../assets/fonts/muli-semibold.ttf") format("truetype");
  font-display: auto;
}
@font-face {
  font-family: "Muli Bold";
  src: url("../assets/fonts/muli-bold.ttf") format("truetype");
  font-display: auto;
}
@font-face {
  font-family: "Muli Extrabold";
  src: url("../assets/fonts/Muli-ExtraBold.ttf") format("truetype");
  font-display: auto;
}
@font-face {
  font-family: "Muli Black";
  src: url("../assets/fonts/Muli-Black.ttf") format("truetype");
  font-display: auto;
}
