@import "variables";

.footer {
  width: 100vw;
  background: black;
  padding: 0 2em;
}
.footer-container {
  width: 100%;
  max-width: 1110px;
  margin: 4.29em auto 2em auto;
}
.footer-row-first {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-row-second {
  border-top: $greyBorder;
  margin-top: 2.85em;
}
.footer-copyright {
  margin-top: 1.7em;
  p {
    font-size: 0.86em;
    color: $grey10;
    text-align: center;
  }
}