@import "variables";

.movies {
    padding: 1rem 0 5rem;
    .container {
        &__movie {
            padding: 1rem;
            text-align: center;
            @include center-flex;
        }
    }
    &__search {
        margin-bottom: 2rem;
        font-size: 0.8rem;
        text-align: center;
        text-transform: uppercase;
        input {
            padding: 0 0.2rem;
        }
    }
    &__img {
        margin-bottom: 0.5rem;
        transition: 0.5s;
            &:hover {
                -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
            }
    }
    &__title {
        font-weight: bold;
        font-size: 0.7rem;
    }
    &__category {
        font-style: italic;
        font-size: 0.6rem;
    }
    &__link {
        a {
            display: inline-block;
            text-transform: uppercase;
            padding: 0.5rem 1rem;
            border: 1px solid #000000;
            background: #000000;
            color: #ffffff;
            margin: 1rem 0;
            transition: 0.5s;
            &:hover {
                text-decoration: none;
                border: 1px solid #000000;
                background: #ffffff;
                color: #000000;
            }
        }
    }
    .on--mobile {
        display: none;
    }
}

@media screen and (max-width: 768px) {

    .movies {
        &__img {
            margin-bottom: 0.5rem;
            transition: 0.1s;
                &:hover {
                    -webkit-transform: scale(1.0);
                    -ms-transform: scale(1.0);
                    transform: scale(1.0);
                }
        }
        &__title {
            font-weight: bold;
            font-size: 1.2rem;
        }
        &__category {
            font-style: italic;
            font-size: 1rem;
        }
        .on--mobile {
            display: inline-block;
        }
    }
    

}